<!-- <div class="modal-overlay" id="modal-overlay"></div> -->

<div class="form">
  <div class="row">
    <div class="col-10">
      <h3>{{ title }}</h3>
    </div>
    <!-- <div class="col-2">
      <button class="btn btn-ligth" style="float: right" (click)="cancel()">X</button>
    </div> -->
  </div>

  <div class="row pt-3">
    <div class="col-12">
      <form [formGroup]="form" novalidate autocomplete="off">
        <div class="row">
          <div class="col-11">
            <label>Nombre:</label> <br><br>
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa el nombre"
              formControlName="name"
              [ngClass]="{
                'is-invalid':
                  form.invalid && fc['name'].errors && fc['name'].touched
              }"
            />
            <div
              *ngIf="form.invalid && fc['name'].errors && fc['name'].touched"
              class="invalid-feedback"
            >
              <div *ngIf="fc['name'].errors['required']">
                El nombre es obligatorio
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row pt-3 pb-3">
    <div class="col-12">
      <a class="btn btn-global modal-buttons" href="rol" >
        Cancelar
      </a>

      <button
        class="btn btn-global modal-buttons"
        (click)="submit()"
        [disabled]="disabled"
        style="margin-right: 3%;"
      >
        Guardar
      </button>
    </div>
  </div>
</div>
