<h2>Roles</h2>

<div class="row">
  <div class="col-8">
    <input
      class="form-control"
      type="text"
      placeholder="Busque un usuario por su nombre"
      [(ngModel)]="searchQuery"
    />
  </div>
  <div class="col-3"></div>
  <div class="col-1">
    <a class="btn btn-global text-center" href="/rol/nuevo">
      + Nuevo
    </a>
  </div>
</div>

<div class="row pt-5 pb-5">
  <div class="col-12">
    <table>
      <thead>
        <tr>
          <th *ngFor="let title of headers" class="text-center">{{ title }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles | searchRole: searchQuery">
          <td>
            {{ role.name }}
          </td>
          <td class="text-center">
              <a class="btn btn-global" [routerLink]="['/rol/editar', role?.id]">Editar</a>
              <button class="btn btn-global" (click)="deleteRole(role?.id)">Eliminar</button>
          </td>
        </tr>

        <tr *ngIf="roles.length === 0">
          <td colspan="2">No existen registros</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showModal">
  <!-- <app-modal
  [module]="'rol'"
  [data]="role"
  (sendModalResponse)="listenModalButtons($event)"
  ></app-modal> -->

  <app-role-form [data]="role" (sendFormValues)="listenModalButtons($event)"></app-role-form>
</div>
