<h2>Usuarios</h2>

<div class="row">
  <div class="col-8">
    <input
      class="form-control"
      type="text"
      placeholder="Busque un usuario por su nombre"
      [(ngModel)]="searchQuery"
    />
  </div>
  <div class="col-3"></div>
  <div class="col-1">
    <button class="text-center" (click)="createUser()">
      + Nuevo
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table>
      <thead>
        <tr>
          <th *ngFor="let title of headers" class="text-center">{{ title }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            {{ user.name }}
          </td>
          <td class="text-center">
            <button (click)="editUser(user)">Editar</button>
            <button (click)="deleteUser(user?.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showModal">
  <app-modal
  [module]="'usuario'"
  [data]="user"
  (sendModalResponse)="listenModalButtons($event)"
  ></app-modal>
</div>
