<h2>Usuarios</h2>

<div class="row">
  <div class="col-8">
    <input
      class="form-control"
      type="text"
      placeholder="Busque un usuario por su nombre"
      [(ngModel)]="searchQuery"
    />
  </div>
  <div class="col-3"></div>
  <div class="col-1">
    <a routerLink="/usuario/nuevo" class="btn btn-global text-center">
      + Nuevo
    </a>
  </div>
</div>

<div class="row pt-5 pb-5">
  <div class="col-12" style="overflow-x: auto">
    <table>
      <thead>
        <tr>
          <th *ngFor="let title of headers" class="text-center">{{ title }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | searchFilter: searchQuery">
          <td>
            {{ user.name }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {{ user.role }}
          </td>
          <td class="text-center pt-3 pb-3">
            <a
              class="btn btn-global"
              [routerLink]="['/usuario/editar', user?.id]"
              >Editar</a
            >
            <button class="btn btn-global" (click)="deleteUser(user)">
              Eliminar
            </button>
          </td>
        </tr>

        <tr *ngIf="users.length === 0">
          <td colspan="4">No existen registros</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="showModal">
  <app-confirmation-modal
    [module]="'usuario'"
    [data]="user"
    (sendModalResponse)="listenModalButtons($event)"
  ></app-confirmation-modal>
</div>
