<div class="modal-overlay" id="modal-overlay"></div>

<div class="confirmation-modal">
  <div class="row">
    <div class="col-10">
      <h3>{{ title }}</h3>
    </div>
    <div class="col-2">
      <button
        class="btn btn-ligth"
        style="float: right"
        (click)="cancel()"
        data-test="btn-close"
      >
        X
      </button>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-11" [innerHTML]="message"></div>
  </div>

  <div class="row pt-4 pb-3">
    <div class="col-12">
      <button
        class="btn btn-global modal-buttons"
        (click)="cancel()"
        data-test="btn-delete"
      >
        Cancelar
      </button>
      <button
        class="btn btn-global modal-buttons"
        (click)="delete()"
        data-test="btn-delete"
      >
        Eliminar
      </button>
    </div>
  </div>
</div>
