<!-- <div class="modal-overlay" id="modal-overlay"></div> -->

<div class="form">
  <div class="row">
    <div class="col-10">
      <h3>{{ title }}</h3>
    </div>
    <!-- <div class="col-2">
      <button class="btn btn-ligth" style="float: right" (click)="cancel()">
        X
      </button>
    </div> -->
  </div>

  <div class="row pt-3">
    <div class="col-12">
      <form [formGroup]="form" novalidate autocomplete="off">
        <div class="row">
          <div class="col-11">
            <label>Nombre:</label><br><br>
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa el nombre"
              formControlName="name"
              [ngClass]="{
                'is-invalid':
                  form.invalid && fc['name'].errors && fc['name'].touched
              }"
            />
            <div
              *ngIf="form.invalid && fc['name'].errors && fc['name'].touched"
              class="invalid-feedback"
            >
              <div *ngIf="fc['name'].errors['required']">
                El nombre es obligatorio
              </div>
            </div>
          </div>

          <div class="col-11 pt-3">
            <label>Email: </label> <br><br>
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa el email"
              formControlName="email"
              [ngClass]="{
                'is-invalid':
                  form.invalid && fc['email'].errors && fc['email'].touched
              }"
            />
            <div
              *ngIf="form.invalid && fc['email'].errors && fc['email'].touched"
              class="invalid-feedback"
            >
              <div *ngIf="fc['email'].errors['required']">
                El email es obligatorio
              </div>

              <div *ngIf="fc['email'].errors['email']">
                El email ingresado no es válido
              </div>

              <div *ngIf="fc['email'].hasError('emailExists')">
                Ya existe un usuario con el correo ingresado
              </div>
            </div>
          </div>

          <div class="col-11 pt-3">
            <label>Contraseña: </label> <br><br>
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa la contraseña"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  form.invalid && fc['password'].errors && fc['password'].touched
              }"
            />
            <div
              *ngIf="form.invalid && fc['password'].errors && fc['password'].touched"
              class="invalid-feedback"
            >
              <div *ngIf="fc['password'].errors['required']">
                La contraseña es obligatoria
              </div>

              <div *ngIf="fc['password'].errors['maxlength']">
               La contraseña debe tener máximo 8 caracteres
              </div>

              <div *ngIf="fc['password'].hasError('hasNumber')">
                La contraseña debe tener al menos un número
              </div>

              <div *ngIf="fc['password'].hasError('hasCapitalCase')">
                La contraseña debe tener al menos una letra mayúscula
              </div>

              <div *ngIf="fc['password'].hasError('hasSpecialCharacter')">
                La contraseña debe tener al menos un caracter especial
              </div>
            </div>
          </div>

          <div class="col-11 pt-3">
            <label>Confirmar contraseña: </label> <br><br>
            <input
              type="text"
              class="form-control"
              placeholder="Vuelva a ingresar la contraseña"
              formControlName="password_confirmation"
              [ngClass]="{
                'is-invalid':
                  form.invalid && fc['password_confirmation'].errors && fc['password_confirmation'].touched
              }"
            />
            <div
              *ngIf="form.invalid && fc['password_confirmation'].errors && fc['password_confirmation'].touched"
              class="invalid-feedback"
            >
              <div *ngIf="fc['password_confirmation'].errors['required']">
                La confirmación de contraseña es obligatoria
              </div>

              <div *ngIf="fc['password_confirmation'].hasError('noMatch')">
               Las contraseñas no coinciden
              </div>
            </div>
          </div>

          <div class="col-12 pt-3">
            <label>Rol:</label> <br><br>
            <select
              class="form-control minimal"
              name="roles"
              formControlName="role"
              [ngClass]="{
                'is-invalid': form.invalid && fc['role'].errors && fc['role'].touched
              }"
            >
              <option value="" disabled selected hidden>Escoja un rol</option>
              <option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</option>
              <!-- <option value="Administrador">Administrador</option>
              <option value="Gerente">Gerente</option>
              <option value="Lider célula">Lider célula</option> -->
            </select>
  
            <div
              *ngIf="fc['role'].errors && fc['role'].touched"
              class="invalid-feedback"
            >
              <div *ngIf="fc['role'].errors['required']">
                El rol es obligatorio
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row pt-3 pb-3">
    <div class="col-12">
      <a class="btn btn-global modal-buttons" href="usuario">
        Cancelar
      </a>

      <button
        class="btn btn-global modal-buttons"
        (click)="submit()"
        [disabled]="disabled"
        style="margin-right: 3%;"
      >
        Guardar
      </button>
    </div>
  </div>
</div>
